<html>
<head>
	<title>$!page.title</title>
	<meta name="decorator" content="atl.general"/>
</head>

    #set ($confPage = $action.page)
    #set ($helper = $action.helper)
    #set ($pageType = $confPage.getType())

	#applyDecorator("root")
    #decoratorParam("helper" $action.helper)
    #decoratorParam("mode" "view-information")
    #decoratorParam("context" "$pageType")

<body>
<div align="center">
<div class="basicPanelContainer" style="width:50%">
	<div class="basicPanelBody">

	<form method="POST" action="$req.contextPath/plugins/copypartialspace/copySpace.action" >

	<input type="hidden" id="pageId" name="pageId" value="$helper.page.id"/>
	<input type="hidden" id="spaceKeyGenerated" name="spaceKeyGenerated" value="false"/>
	<input type="hidden" id="spaceKeyPattern" name="spaceKeyPattern" value="$action.spaceKeyPattern"/>
	<input type="hidden" id="spaceKeyReplace" name="spaceKeyReplace" value="$!action.spaceKeyReplace"/>


	#if ($!action.errorMessage.size() > 0) 
		<DIV id="errorbox" align="center" style="margin:5px;padding:5px;overflow:auto;background-color:#fdbaba;border-style: solid; border-color: red; border-width: 1px">
		<span style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:red;">
			#foreach( $error in $action.errorMessage )
			   <li>$error<br>
			#end	
		</span>
		</div>
	#end 
			
	<div align="left">&nbsp;&nbsp;&nbsp;$action.getText('copy.space.instruction')</div>
	<div>$action.getText('copy.space.authorized.characters')</div>
	<br><br>
	<table >
		<TR>
			<TD><b>$action.getText('copy.space.name.label') &nbsp;:&nbsp;</b></TD>
			<TD>
				<input type="text" id="newSpaceName" name="newSpaceName" value=""/>
			</TD>
		</TR>
		<TR>
			<TD><b>$action.getText('copy.space.key.label') &nbsp;:&nbsp;</b></TD>
			<TD>
				<input type="text" id="newSpaceKey" name="newSpaceKey" value=""/>
			</TD>
		</TR>
		#if ($action.isAdHocWorkflowInstalled())
		<TR>
			<TD><b>$action.getText('copy.published.pages')</b> (Ad-How Workflow plugin)</TD>
			<TD>
				<input type="checkbox" id="checkPublishedActivated" name="checkPublishedActivated" value="true"/>
			</TD>
		</TR>
		#end
		<TR>
			<TD colspan="2">
			<div id="buttonbox">
				<input type="submit" value="$action.getText('copy.space.button.generate.baseline')"/>
			</div>
			</TD>
		</TR>
	</table>

	</form>
	</div>
</div>
</div>
</body>
	
	#end
	

</html>